@inject Blazor.Extensions.Storage.LocalStorage Storage

<div class="top-row px-4">
    <div class="col-12">
        <NavLink class="nav-link float-right" href="shoppingcart">
            <span class="fa fa-shopping-cart" aria-hidden="true"></span> Shopping Cart
        </NavLink>
    </div>
</div>

